<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-testbp-dev-004.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/291398cd-87f4-4258-a8e3-9bd7ceaad64b/resourceGroups/EFLogicApp_group/providers/Microsoft.Web/sites/func-testbp-dev-004</ResourceId>
    <UserName>$func-testbp-dev-004</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func-testbp-dev-004.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>