<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://spdownload.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/291398cd-87f4-4258-a8e3-9bd7ceaad64b/resourceGroups/EFLogicApp_group/providers/Microsoft.Web/sites/SPDownload</ResourceId>
    <UserName>$SPDownload</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://spdownload.scm.azurewebsites.net/</PublishUrl>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAvQhqu8VOe0SU+6BHIX/ZdwAAAAACAAAAAAAQZgAAAAEAACAAAADeLhts2zo0KuWt4IxydogSZ3IMxqiR/A1R72PoZnq7wgAAAAAOgAAAAAIAACAAAACbOEKdYaiwIWjpRw1muTTmia2rLiAsJHloitKuDFQ4voAAAABMVRH8EBVA1wTny1kIi/ibwOh+W4dljw1ucKLIfafW9CMj7R5mn93Jk6JjCyIxQ0dbK+z1Sp1nOv60h8VKv447h9mNXLV4kUiCz0H5z7AZRGocgZu+lq8nCTIv3ltOuJC1xtqWNm5O/lF3bP6sivmjFZUmkjUhCU14Sdufk3tP30AAAACs1tqPSqnbKkjncQlUadT4Yl7mN408p33w1LZMbuJ8ODxFcfDQqfTK5huAQK1GJp43juN9Z7n1CZoAQdGyfNEM</EncryptedPassword>
    <History>False|2024-03-12T17:24:39.4835199Z;</History>
    <EnvironmentSubType>AzureFunctionProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>